.invitados {
    h3 {
        margin-top: 20px;
    }
    .contenedor-carrusel {
        max-width: 400px;
        max-height: 300px;
        margin: 0 auto;
        li {
            max-width: 400px;
            max-height: 300px;
        }
        display: none;
        @include telefono() {
            display: block;
        }
    }
    .controls {
        .arrow {
            border: none;
            box-shadow: none;
            padding: 0;
            &.arrow-next {
                right: 0;
                margin-right: 20px;
            }
            &.arrow-back {
                right: 90%;
                margin-left: 20px;
            }
            i {
                font-size: 2.5rem;
            }
        }
    }
    .glide__bullets {
        top: 30px;
    }
    .contenedor-invitados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include telefono {
            &.desk-tablet {
                display: none;
            }
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        row-gap: 3em;
        column-gap: 10px;
        .invitado {
            &.in-1 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado1.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            &.in-2 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado2.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            &.in-3 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado3.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            &.in-4 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado4.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            &.in-5 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado5.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            &.in-6 {
                display: grid;
                place-items: end;
                position: relative;
                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url('/src/img/invitado6.jpg');
                    filter: grayscale(100%);
                    background-position: center center;
                    background-size: cover;
                }
            }
            min-height:300px;
            .contenido-invitado {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                height: 20%;
                background: rgb(172, 72, 72);
                background: linear-gradient(90deg, rgba(172, 72, 72, 0.43040966386554624) 0%, rgba(64, 64, 64, 0.6320903361344538) 0%);
                p {
                    //margin: 0 0 13px 13px;  
                    margin-left: 13px;
                    text-align: start;
                    font-weight: 600;
                    font-size: 2.8rem;
                    color: $naranja;
                }
            }
        }
    }
}