h1 {
    margin: 0 auto;
    font-weight: 900;
    font-size: 10vw;
    text-align: center;
    @include tablet {
        //font-size: 80px;
    }
    @include telefono {
        //font-size: 55px;
    }
}

h3 {
    margin: 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 4.2rem;
}

.separador {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1em;
    display: block;
    img {
        width: fit-content;
    }
}

.header {
    height: 100vh;
    background-image: url('/build/img/encabezado.webp');
    background-position: top center;
    background-size: cover;
    display: flex;
    .contenedor-header {
        width: 100%;
        @include desktop {}
        margin: auto auto;
        padding-top: 10px;
        .iconos {
            width: fit-content;
            margin: 40px auto;
            margin-top: 0;
        }
        .infoGeneral-header {
            display: block;
            width: fit-content;
            margin: 0 auto;
            @include desktop {
                width: 57%;
                display: flex;
                justify-content: space-between;
            }
            margin-top: 10px;
            a {
                color: #fe4918;
            }
            p {
                color: #FFFFFF;
                margin: 0 0;
                margin-top: 6px;
                margin-left: 10px;
                font-size: 2.3vw;
                font-weight: 700;
            }
            .fecha {
                display: flex;
            }
            .lugar {
                display: flex;
            }
        }
        .titulo-header {
            @include desktop {
                width: fit-content;
            }
            display: flex;
            padding-top: 1em;
            width: fit-content;
            margin: 0 auto;
            margin: 0 auto;
            color: #FFFFFF;
        }
        .slogan {
            width: fit-content;
            margin: 0 auto;
            p {
                font-style: italic;
                color: #FFFFFF;
                margin-top: 3rem;
                font-size: 2.5rem;
                @include tablet {
                    margin-top: 0;
                    font-size: 2rem;
                }
                @include telefono {
                    margin-top: 0;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.contenedor-stats {
    position: relative;
    //padding: auto auto;
    top: 200px;
    left: 0;
    padding: 0 4em;
    @include telefono {
        padding: 0 1em;
    }
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    .data {
        .numero {
            width: fit-content;
            font-family: 'Oswald', sans-serif;
            font-size: 10rem;
            @include telefono {
                font-size: 6rem;
            }
            color: $naranja;
            margin: 0 auto;
            font-weight: 500;
        }
        .des-num {
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            @include telefono {
                font-size: 1.5rem;
            }
            color: #FFFFFF;
            margin: 0 0;
        }
    }
}