.header {
    height: 100vh;
    background-image: url("/img/encabezado.jpg");
    background-position: top center;
    background-size: cover;
    .contenedor-header {
        width: 100%;
        @include desktop {}
        margin: 0 auto;
        padding-top: 10px;
        .iconos {
            width: fit-content;
            margin: 40px auto;
            margin-top: 0;
        }
        .infoGeneral-header {
            display: block;
            width: fit-content;
            margin: 0 auto;
            @include desktop {
                width: 57%;
                display: flex;
                justify-content: space-between;
            }
            margin-top: 10px;
            font-size: 20px;
            a {
                color: #fe4918;
            }
            p {
                color: #FFFFFF;
                margin: 0 0;
                margin-top: 6px;
                margin-left: 10px;
                font-size: 16px;
                font-weight: 700;
            }
            .fecha {
                display: flex;
            }
            .lugar {
                display: flex;
            }
        }
        .titulo-header {
            @include desktop {
                width: fit-content;
            }
            display: flex;
            padding-top: 1em;
            width: fit-content;
            margin: 0 auto;
            h1 {
                margin: 0 auto;
                font-weight: 900;
                font-size: 100px;
                text-align: center;
                @include tablet {
                    font-size: 80px;
                }
                @include telefono {
                    font-size: 60px;
                }
            }
            margin: 0 auto;
            color: #FFFFFF;
        }
        .slogan {
            width: fit-content;
            margin: 0 auto;
            p {
                margin: 0 0;
                color: #FFFFFF;
                font-size: 20px;
            }
        }
    }
}

.barra {
    padding: 20px 0;
    width: 100%;
    background-color: #222;
    .barra-contenedor {
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            img {
                max-height: 3.5em;
            }
        }
        .links {
            margin: 2em auto;
            margin-bottom: 1em;
            width: fit-content;
            display: flex;
            @include telefono {
                display: block;
            }
            @include desktop {
                margin: 0 0;
            }
            a {
                margin: 15px auto;
                display: flex;
                align-items: center;
                @include telefono {
                    display: block;
                    margin: 15px auto;
                    text-align: center;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                &:last-of-type {
                    //margin: 15px auto;
                    color: $naranja;
                    border: 1px;
                    padding: 5px;
                    border-style: solid;
                    &:hover {
                        transition: 0.3s;
                        background-color: $naranja;
                        color: #FFFFFF;
                        border-color: $naranja;
                    }
                }
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 18px;
                margin: 0 1em;
            }
        }
    }
}

.separador {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin: 1em 0;
    margin-top: 0;
    display: block;
    margin: 0 auto;
    img {
        width: fit-content;
    }
}

.contenido-programa {
    .tl-titulo-programa {
        font-size: 2.5em;
        text-align: center;
        font-weight: 400;
    }
    .Pcontent-contenido-programa {
        //background: url(/img/bg-talleres.jpg);
        //background-position: top center;
        //background-size: cover;
        position: relative;
        //padding: 3em 0;
        display: flex;
        .video {
            max-width: 100%;
            overflow-x: hidden;
            max-height: 850px;
            overflow-y: hidden;
        }
        .tarjeta-contenido-programa {
            position: absolute;
            //margin-top: 6em;
            top: 63.5px;
            left: 20px;
            height: fit-content;
            margin: 0 auto;
            margin-left: 3em;
            //background-color: black;
            background: rgb(245, 245, 245);
            background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 252, 252, 1) 70%, rgba(245, 245, 245, 1) 100%);
            width: 45%;
            @include tarjeta-movil {
                width: 95%;
                margin: 0 2em;
            }
            h3 {
                text-align: center;
                font-weight: 400;
                font-size: 35px;
            }
            .log-des {
                display: flex;
                align-items: center;
                p {
                    margin-left: 5px;
                    margin: 0 0;
                }
                .icono {
                    color: #fe4918;
                }
            }
            .tipos-seminarios {
                display: flex;
                justify-content: space-between;
                @include tarjeta {
                    display: block;
                    margin: 1em 0;
                }
                .tp-seminario {
                    p {
                        font-weight: 700;
                    }
                }
            }
            .seminario {
                h4 {
                    color: $naranja;
                    font-size: 25px;
                    font-weight: 400;
                }
                .descripcion-seminario {
                    margin: 5px 0;
                    p {
                        margin-left: 10px;
                    }
                }
            }
            .contenedor-boton {
                //margin-left: 1em;
                width: 95%;
                display: grid;
                justify-content: end;
                margin: 2em auto;
            }
        }
    }
}